<div class="chat">
	<h3 class="chat-heading">Chat</h3>
	<div class="alert chat-message" role="alert">User 1: Message 1</div>
	<div class="alert chat-message" role="alert">User 2: Message 2</div>
	<div class="alert chat-message" role="alert">User 3: Message 3</div>
	<textarea maxlength="100" placeholder="Type messages here!" wrap="soft" class="chat-input"></textarea>
	<button type="button" class="btn chat-send">Send!</button>
</div>
