@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="chess-board-container" class="center-block">
	<img class="chess-board img-responsive" src="~/Images/ChessImages/Board.jpg" />
	<div class="chess-piece-container" style="top: 0%; left: 0%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackRook.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 12.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackNight.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 25%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackBishop.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 37.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackQueen.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 50%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackKing.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 62.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackBishop.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 75%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackNight.png" />
	</div>
	<div class="chess-piece-container" style="top: 0%; left: 87.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/BlackRook.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 0%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteRook.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 12.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteNight.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 25%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteBishop.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 37.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteQueen.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 50%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteKing.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 62.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteBishop.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 75%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteNight.png" />
	</div>
	<div class="chess-piece-container movable" style="top: 87.5%; left: 87.5%;">
		<img class="chess-piece img-responsive" src="~/Images/ChessImages/Pieces/WhiteRook.png" />
	</div>
</div>
