@{
    ViewBag.Title = "Game Area";
}
<div class="row">
	@*<div class="col-xs-3">@Html.Action("Chat")</div>*@
	<div class="col-xs-12">@Html.Action("Board")</div>
</div>
@section scripts {
	<script type="text/javascript">
		initializeConnection();
	</script>
}
