body {
  color: white;
  background-color: black;
}
#site-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #101f12;
  color: white;
}
#home-menu #greeting {
  text-align: center;
  color: white;
}
#connection-fail-message {
  text-align: center;
}
@media (min-width: 0px) {
  .game-info {
    width: 400px;
    height: 500px;
  }
}
@media (min-width: 768px) {
  .game-info {
    width: 500px;
    height: 600px;
  }
}
@media (min-width: 992px) {
  .game-info {
    width: 600px;
    height: 700px;
  }
}
.game-info .up-player-info,
.game-info .down-player-info {
  width: 100%;
  height: 5%;
  padding: 5px 0px;
}
.game-info .up-player-info .player-name,
.game-info .down-player-info .player-name {
  width: 69%;
  float: left;
}
.game-info .up-player-info .player-time,
.game-info .down-player-info .player-time {
  width: 29%;
  float: right;
}
.game-info .up-player-info .player-name,
.game-info .down-player-info .player-name,
.game-info .up-player-info .player-time,
.game-info .down-player-info .player-time {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: solid 1px white;
}
.game-info .chess-container {
  width: 100%;
  height: 90%;
}
.game-info .chess-container .y-coordinates {
  width: 5%;
  height: 90%;
  float: left;
  display: inline-block;
  background-color: #101f12;
}
.game-info .chess-container .y-coordinates .y-coordinate {
  height: 12.5%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.game-info .chess-container .x-coordinates {
  width: 100%;
  height: 5%;
  padding: 0px 5%;
  clear: both;
  background-color: #101f12;
}
.game-info .chess-container .x-coordinates .x-coordinate {
  width: 12.5%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  float: left;
}
.game-info .chess-container .chess-board-container {
  width: 90%;
  height: 90%;
  float: left;
  display: inline-block;
  position: relative;
}
.game-info .chess-container .chess-board-container .chess-board {
  width: 100%;
  height: 100%;
}
.game-info .chess-container .chess-board-container .chess-piece-container {
  width: 12.5%;
  height: 12.5%;
  position: absolute;
}
.game-info .chess-container .chess-board-container .chess-piece-container.draggable:hover {
  cursor: pointer;
}
.game-info .chess-container .chess-board-container .chess-piece-container .chess-piece {
  width: 100%;
  height: 100%;
}
.chat {
  padding: 10px;
  background-color: black;
  border: solid 1px white;
}
.chat .chat-header {
  color: white;
  text-align: center;
  position: relative;
}
.chat .chat-header .chat-toggler {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.chat .chat-body {
  margin-top: 10px;
}
.chat .chat-body .chat-messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.chat .chat-body .chat-messages .chat-message {
  word-wrap: break-word;
  margin-top: 10px;
}
.chat .chat-body .chat-messages .chat-message:first-of-type {
  margin-top: 0px;
}
.chat .chat-body .chat-input {
  width: 100%;
  resize: vertical;
  max-height: 100px;
  border: none;
  margin-bottom: 5px;
}
.chat .chat-body .chat-send {
  margin: 0px;
  width: 50%;
}