@import "Variables.less";

body {
	color: white;
	background-color: black;
}

#site-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: @violet-color;
	color: @white-color;
}

#home-menu {
	#greeting {
		text-align: center;
		color: @white-color;
	}
}

#connection-fail-message {
	text-align: center;
}

.chess-container {
	@media (min-width: @xs-limit) {
		width: 200px;
		height: 200px;
	}

	@media (min-width: @sm-limit) {
		width: 300px;
		height: 300px;
	}

	@media (min-width: @md-limit) {
		width: 400px;
		height: 400px;
	}

	@media (min-width: @lg-limit) {
		width: 500px;
		height: 500px;
	}

	.info {
		width: 100%;
		height: 5%;
		padding: 0px 5%;

		.white-player-info,
		.black-player-info {
			width: 50%;
			height: 100%;
			float: left;

			.player-name {
				width: 75%;
			}

			.player-time {
				width: 25%;
			}

			.player-name,
			.player-time {
				height: 100%;
				float: left;
				text-align: center;
				display: flex;
				justify-content: center;
				align-content: center;
				flex-direction: column;
			}
		}
	}

	.y-coordinates {
		width: 5%;
		height: 90%;
		float: left;
		display: inline-block;
		clear: both;

		.y-coordinate {
			height: 12.5%;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
		}
	}

	.x-coordinates {
		width: 100%;
		height: 5%;
		padding: 0px 5%;
		clear: both;

		.x-coordinate {
			width: 12.5%;
			height: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			float: left;
		}
	}

	.chess-board-container {
		width: 90%;
		height: 90%;
		float: left;
		display: inline-block;
		position: relative;

		.chess-board {
			width: 100%;
			height: 100%;
		}

		.chess-piece-container {
			width: 12.5%;
			height: 12.5%;
			position: absolute;

			&.draggable:hover {
				cursor: pointer;
			}

			.chess-piece {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.chat {
	padding: 4px;
	background-color: @white-color;

	.chat-heading {
		color: @violet-color;
		text-align: center;
	}

	.chat-messages {
		height: 300px;
		overflow-y: auto;

		.chat-message {
			color: @white-color;
			background-color: @violet-color;
			word-wrap: break-word;
		}
	}

	.chat-input {
		width: 100%;
		border: @micro-border-size solid @violet-color;
		resize: vertical;
		max-height: 100px;
		padding: 0px;
		background-color: @white-color;
		color: @violet-color;
	}

	.chat-send {
		background-color: #0d102d;
		color: white;
		border: @micro-border-size solid @violet-color;
	}
}
