#site-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #0d102d;
  color: white;
}
#home-menu #greeting {
  text-align: center;
  color: white;
}
#connection-fail-message {
  text-align: center;
}