@import "GlobalVariables.less";

#site-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: @global-background-color-3;
	color: @global-color-1;
}

#home-menu {
	#greeting {
		text-align: center;
		color: @global-color-1;
	}
}

#connection-fail-message {
	text-align: center;
}
