@xs-limit: 0px;
@sm-limit: 768px;
@md-limit: 992px;
@lg-limit: 1200px;
@white-color: white;
@black-color: black;
@violet-color: #0d102d;
@blue-color: #337ab7;
@red-color: rgb(128, 26, 26);
@micro-border-size: 1px;
