<div id="connection-fail" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
			<div id="connection-fail-message">Connection failed... Sorry!</div>
		</div>
	</div>
</div>
