#site-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #4e7d7b;
  color: white;
}
#site-footer p {
  display: table;
  margin: auto;
}
#site-footer hr {
  margin-top: 2px;
  margin-bottom: 0px;
}